@media (min-width: 480px) and (max-width: 767px){
.wrapper{
	max-width: 767px;
}
.site-box{
	width: 480px;
}
.bg_1{
	height: 550px;
}
.bg_opacity{
	height: 246px;
    top: 202px;
	position: absolute;
}
.bg_3{
	height:600px;
	top:549px;
	}
.bg_4{
	top:1160px;
	height:772px;
	}
.bg_5{
	height:232px;
	top:1933px;
	}
.bg_6{
	top:2166px;
	height: 750px;
	}
.bg_7{
	background: url('../img/bg768.png') no-repeat bottom center;
	height: 200px;
	top:2835px;
}
/*header*/
.header{
	height: 123px;
	padding-top: 70px;
}
#logo{
 	margin: 0 163px;
}
.header__menu{
	margin: 17px auto;
	height: 35px;
	width: 55px;
	border: 1px transparent;
	position: relative;
	overflow: hidden;
  z-index: 10;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  text-align: center;
}
.header__menu:hover{
	height: 256px;
	width: 242px;
	border: 1px black solid;
	border-radius: 10px;
	background-color: rgba(63, 51, 72, 0.9);
}
.header-menu__item{
	list-style: none;
	height: 31px;
	padding-top: 10px;
	width: auto;
	border-bottom: 2px solid rgba(82, 62, 90, 0.9);
	text-align: center;
}
.header-menu__item:hover{
	border-bottom: 2px solid rgb(237, 191, 255);
	background: rgba(43, 34, 49, 0.3);
	width: auto;
}
.header__link{
	display:block;
	text-decoration:none;
	color: #ffffff;	
	font-size:25px;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
	font-family: 'League Gothic';
}
/*article*/
.article{
	width: 100%;
	height:360px;
}
.phones{
	margin-right: 32px;
	float:right;
	height:300px;
}
.article__first-title{
	display:block;
	width: 210px;
	padding-top: 107px;
	line-height:0.8em;
	font-size:36px;
	margin-left: 40px;
	color: #ffffff;
	font-family: 'League Gothic';
	letter-spacing:-0.016em;
	}
.article__second-title{
	height:20px;
	width: 210px;
    margin:6px 0 0 39px;
	font-size:18px;
	font-family: 'League Gothic';
	color:#edbfff;
	overflow:hidden;
	letter-spacing:-0.016em;
}
.article__third-title{
	display:none;
	height: 95px;
	overflow: hidden;
	font-size:16px;
	line-height: 1.6;
	color: #ffffff;
	font-family: 'Open Sans';
	font-weight: lighter;
}
/*about company*/
.about-company{
	height: 530px;
	padding-top:70px;
	}
.about-company__third-block,
.about-company__first-block,
.about-company__second-block{
	width: 440px;
	color: #ffffff;
	margin-left: 28px;
	margin-bottom: 57px;
}
.about-company__first-block{

}
.about-company__second-block{
	margin-bottom:61px;

}
.about-company__header1,
.about-company__header2,
.about-company__header3{
	font-size: 24px;
	height: 37px;
	font-family: 'League Gothic';
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
	padding-left: 55px;	
	letter-spacing:-0.01em;
}
.about-company__header1{
	background-image: url('../img/sprite.png');
	background-repeat: no-repeat;
	background-position: 3px 5px;
}
.about-company__header2{
	background-image: url('../img/sprite.png');
	background-repeat: no-repeat;
	background-position: 0px -38px;
}
.about-company__header3{
	background-image: url('../img/sprite.png');
	background-repeat: no-repeat;
	background-position: 0px -76px;
	}
.about-company__text{
	font-family: 'Open Sans';
	font-size: 16px;
	font-weight: lighter;
	width: 380px;
	margin-left: 55px;
	margin-top: -7px;
	line-height: 1.5;
	letter-spacing:-0.005em;
}
.about-company__more-link{
	float: right;
	padding-top: 17px;
	padding-right: 15px;
	font-family: 'League Gothic';
	font-size: 17px;
	text-decoration: none;
	color: #ffffff;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}
.about-company__more-link:hover{
	text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.8);
}
/*info-blocks section*/
.info-blocks{
	height: 728px;
	width:100%;
}
.pingbuller-starts{
	width: 355px;
	margin-top: 65px;
	position: relative;
}
.starts-wrapper{
	width: 420px;
	height: 270px;
	margin-left: 42px;
	margin-top: 0px;
	background-color: #ffffff;
	padding-left: 40px;
	padding-right: 15px;
	padding-top: 24px;
	box-sizing: padding-box;
	}
.starts__logo{
  position: absolute;
	top:17px;
	left: 20px;
}
.starts__header{
	font-family: 'League Gothic';
	font-size: 30px;
	color: #454545;
	margin-bottom: 8px;
	letter-spacing:-0.008em;
}
.starts__header-colortext{
	font-family: 'League Gothic';
	color:#edbfff;
	font-size: 30px;
}
.starts__text{
	color:#454545;
	font-family: 'Open Sans';
	font-weight: lighter;
	font-size: 16px;
	width: 370px;
	height:140px;
	padding-top: 4px;
	line-height: 1.5;
}
.recent-updates{
	width: 340px;
	margin-top: 63px;
	margin-left: 79px;
}
.recent-updares__header{
	margin-left: 5px;
	margin-bottom: 15px;
	font-family: 'League Gothic';
	font-size: 30px;
	color: #454545;
	letter-spacing:-0.015em;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}
.block1__header,
.block2__header,
.block3__header{
	font-family: 'Open Sans';
	font-weight: bold;
	font-size: 16px;
	color: #454545;
	margin-left:70px;
	letter-spacing: 0.015em;
}
.block1__img,
.block2__img,
.block3__img{
	float:left;
	margin-left: 5px;
}
.block__text{
	font-family: 'Open Sans';
	font-size: 16px;
	color: #454545;
	font-weight: lighter;
	margin-left:70px;
	margin-bottom: 25px;
	height:20px;
	overflow:hidden;
}
.resent-update__readmore-link{
	font-family: 'League Gothic';
	font-size: 18px;
	color: #454545;
	text-decoration: none;
	float: right;
	margin-right: 4px;
	margin-top: -2px;
	}
/*logos*/	
.logos{
	height: 155px;
	width: 340px;
	background-image:url('../img/logos480.png');
	background-repeat: no-repeat;
	margin-left: 70px;
	margin-top: 25px;
	}
/*content footer*/
.content-footer{
	text-align: left;
	width: 100%;
	height:605px;
	padding-top: 104px;
	padding-left: 16px;
}
.content-footer__header1{
	margin-bottom: 7px;
	font-family: 'League Gothic';
	font-size: 34px;
	color:#454545;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}
.er{
	font-family: 'League Gothic';
	font-size: 34px;
	color:#b9b9b9;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}
.content-footer__copyright{
	font-family: 'Georgia';
	font-style: italic;
	color:#c5c5c5;
	margin-bottom: 0px;
	font-size: 16px;
}
.content-footer_header2,
.content-footer_header3{
	font-family: 'League Gothic';
	font-size: 24px;
	color: #454545;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
	margin-top: 53px;
	margin-bottom: 5px;
}
.content-footer__first,
.content-footer__second,
.content-footer__third{
 width: 440px;
 height: 140px;
}
.content-footer__first{
	overflow: hidden;

	}
.content-footer__text1,
.content-footer__text2,
.content-footer__text3{
	font-family:'Open Sans';
	color:#787878;
	font-size: 16px;
	font-weight: lighter;
	padding-top: 2px;
	line-height: 1.5;
}
/*footer*/
.footer{
	height: 200px;	
	}
.footer__menu{
	padding-top:45px;
	padding-left: 22px;
}
.footer-menu__item{
	display: inline-block;
	list-style: none;
	margin-right:20px;
}
.footer-menu__link{
	font-family: 'League Gothic';
	font-size: 20px;
	color: #ffffff; 
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
	text-decoration: none;
}
.f_span{
	display: block;
	margin: 0 auto;
	width: 150px;
	padding-top: 29px;
	padding-left: 9px;
}
.f_design{
	color: #fff;
    font-family: 'Open sans';
    font-size: 12px;
    font-weight: lighter;
    text-shadow: 1px 2px 2px rgba(102, 95, 106, 1);
	}
.f_pingbull{
    color: #fff;
    font-family: 'Open sans';
    font-size: 12px;
    font-weight: bolder;
    text-shadow: 1px 2px 2px rgba(102, 95, 106, 1);
    width: 142px;	
}
}